%section#form
  .container
    .row
      .col-sm
        .signup-form
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            %h2 Sign up
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email"
            -# = error_messages_for(f.object, :email)
            = f.password_field :password, autocomplete: "new-password", placeholder: "new-password"
            -# = error_messages_for(f.object, :password)
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm-password"

            = f.label :country_id, class: 'col-form-label required' do
              Country
              %span
              %i.fa.fa-question-circle-o{'data-toggle': 'tooltip', title: 'Country'}
            = f.select :country_id, options_for_select(country_name, @country&.name), { required: true }, class: 'form-control', style: 'width:40%'

            = f.label :state_id, class: 'col-form-label required' do
              State
              %span
              %i.fa.fa-question-circle-o{'data-toggle': 'tooltip', title: 'State'}
            = f.select :state_id, options_for_select(state, @state&.name), { required: true }, class: 'form-control', style: 'width:40%'

            = f.label :city_id, class: 'col-form-label required' do
              City
              %span
              %i.fa.fa-question-circle-o{'data-toggle': 'tooltip', title: 'City'}
            = f.select :city_id, options_for_select(city, @city&.name), { required: true }, class: 'form-control', style: 'width:40%'
            = f.hidden_field :business_id, value: "#{@business.id}"
            = f.button "Signup", type: "submit"
          = render "devise/shared/links"
- content_for :js_code do
  :javascript
    $(document).ready(function () {
      $('#customer_country_id').on('change', function() {
        var countryId = $(this).val();

        $.ajax({
          type: 'GET',
          url: '/autocomplete/states',
          data: { country_id: countryId },
          dataType: 'json',

          success: function(data) {
            var options = '<option value="">Select State</option>';
            $.each(data, function(index, state) {
              options += '<option value="' + state.id + '">' + state.name + '</option>';
            });
            $('#customer_state_id').html(options);
          },
        });        
      });
      $('#customer_state_id').on('change', function() {
        var stateId = $(this).val();
          $.ajax({
            type: 'GET',
            url: '/autocomplete/cities',
            data: { state_id: stateId },
            dataType: 'json',

            success: function(data) {
              var options = '<option value="">Select State</option>';
              $.each(data, function(index, city) {
                options += '<option value="' + city.id + '">' +city.name + '</option>';
              });
              $('#customer_city_id').html(options);
            },  
          });
        });    
    });
