%h2= t('devise.password.edit.title')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, t('devise.password.edit.new-password')
    %br/
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, t('devise.password.edit.confirm')
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit t('devise.password.edit.action')
= render "devise/shared/links"