%section#slider
  / slider
  .container
    .row
      .col-sm-12
        #slider-carousel.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "1", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "2", "data-target" => "#slider-carousel"}
          .carousel-inner
            .item.active
              .col-sm-6
                %h1
                  %span> E
                  \-SHOPPER
                %h2 Free E-Commerce Template
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %button.btn.btn-default.get{type: "button"} Get it now
              .col-sm-6
                = image_tag("home/girl1.jpg", class: "girl img-responsive", alt: "")
                = image_tag("home/pricing.png", class: "pricing", alt: "")
            .item
              .col-sm-6
                %h1
                  %span> E
                  \-SHOPPER
                %h2 100% Responsive Design
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %button.btn.btn-default.get{type: "button"} Get it now
              .col-sm-6
                = image_tag("home/girl2.jpg", class: "girl img-responsive", alt: "")
                = image_tag("home/pricing.png", class: "pricing", alt: "")
            .item
              .col-sm-6
                %h1
                  %span> E
                  \-SHOPPER
                %h2 Free Ecommerce Template
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %button.btn.btn-default.get{type: "button"} Get it now
              .col-sm-6
                = image_tag("home/girl3.jpg", class: "girl img-responsive", alt: "")
                = image_tag("home/pricing.png", class: "pricing", alt: "")
          %a.left.control-carousel.hidden-xs{"data-slide" => "prev", href: "#slider-carousel"}
            %i.fa.fa-angle-left
          %a.right.control-carousel.hidden-xs{"data-slide" => "next", href: "#slider-carousel"}
            %i.fa.fa-angle-right
/ /slider
%section
  .container
    .row
      .col-sm-3
        .left-sidebar
          = render 'products/product_sidebar'
      // FEATURES ITEMS
      .col-sm-9.padding-right
        .features_items
          %h2.title.text-center Features Items
          #product-data
            = render 'products/product_data'
            
      -#   / /category-tab
      -#   .recommended_items
      -#     / recommended_items
      -#     %h2.title.text-center recommended items
      -#     #recommended-item-carousel.carousel.slide(data-ride="carousel")
      -#       .carousel-inner
      -#         .item.active
      -#           .col-sm-4
      -#             .product-image-wrapper
      -#               .single-products
      -#                 .productinfo.text-center
      -#                   %img(alt="" src="images/home/recommend1.jpg")/
      -#                   %h2 $56
      -#                   %p Easy Polo Black Edition
      -#                   %a.btn.btn-default.add-to-cart(href="#")
      -#                     %i.fa.fa-shopping-cart>
      -#                     Add to cart
      -#           .col-sm-4
      -#             .product-image-wrapper
      -#               .single-products
      -#                 .productinfo.text-center
      -#                   %img(alt="" src="images/home/recommend2.jpg")/
      -#                   %h2 $56
      -#                   %p Easy Polo Black Edition
      -#                   %a.btn.btn-default.add-to-cart(href="#")
      -#                     %i.fa.fa-shopping-cart>
      -#                     Add to cart
      -#           .col-sm-4
      -#             .product-image-wrapper
      -#               .single-products
      -#                 .productinfo.text-center
      -#                   %img(alt="" src="images/home/recommend3.jpg")/
      -#                   %h2 $56
      -#                   %p Easy Polo Black Edition
      -#                   %a.btn.btn-default.add-to-cart(href="#")
      -#                     %i.fa.fa-shopping-cart>
      -#                     Add to cart
      -#         .item
      -#           .col-sm-4
      -#             .product-image-wrapper
      -#               .single-products
      -#                 .productinfo.text-center
      -#                   %img(alt="" src="images/home/recommend1.jpg")/
      -#                   %h2 $56
      -#                   %p Easy Polo Black Edition
      -#                   %a.btn.btn-default.add-to-cart(href="#")
      -#                     %i.fa.fa-shopping-cart>
      -#                     Add to cart
      -#           .col-sm-4
      -#             .product-image-wrapper
      -#               .single-products
      -#                 .productinfo.text-center
      -#                   %img(alt="" src="images/home/recommend2.jpg")/
      -#                   %h2 $56
      -#                   %p Easy Polo Black Edition
      -#                   %a.btn.btn-default.add-to-cart(href="#")
      -#                     %i.fa.fa-shopping-cart>
      -#                     Add to cart
      -#           .col-sm-4
      -#             .product-image-wrapper
      -#               .single-products
      -#                 .productinfo.text-center
      -#                   %img(alt="" src="images/home/recommend3.jpg")/
      -#                   %h2 $56
      -#                   %p Easy Polo Black Edition
      -#                   %a.btn.btn-default.add-to-cart(href="#")
      -#                     %i.fa.fa-shopping-cart>
      -#                     Add to cart
      -#       %a.left.recommended-item-control(data-slide="prev" href="#recommended-item-carousel")
      -#         %i.fa.fa-angle-left
      -#       %a.right.recommended-item-control(data-slide="next" href="#recommended-item-carousel")
      -#         %i.fa.fa-angle-right
