%section#slider
  / slider
  .container
    .row
      .col-sm-12
        #slider-carousel.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "1", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "2", "data-target" => "#slider-carousel"}
          .carousel-inner
            .item.active
              .col-sm-6
                %h1
                  %span> E
                  \-SHOPPER
                %h2= t('home.template-title1')
                %p= t('home.template-body')
                %button.btn.btn-default.get{type: "button"}= t('home.template-botton')
              .col-sm-6
                = image_tag("home/girl1.jpg", class: "girl img-responsive", alt: "")
                = image_tag("home/pricing.png", class: "pricing", alt: "")
            .item
              .col-sm-6
                %h1
                  %span> E
                  \-SHOPPER
                %h2= t('home.template-title2')
                %p= t('home.template-body')
                %button.btn.btn-default.get{type: "button"}= t('home.template-botton')
              .col-sm-6
                = image_tag("home/girl2.jpg", class: "girl img-responsive", alt: "")
                = image_tag("home/pricing.png", class: "pricing", alt: "")
            .item
              .col-sm-6
                %h1
                  %span> E
                  \-SHOPPER
                %h2= t('home.template-title3')
                %p= t('home.template-body')
                %button.btn.btn-default.get{type: "button"}= t('home.template-botton')
              .col-sm-6
                = image_tag("home/girl3.jpg", class: "girl img-responsive", alt: "")
                = image_tag("home/pricing.png", class: "pricing", alt: "")
          %a.left.control-carousel.hidden-xs{"data-slide" => "prev", href: "#slider-carousel"}
            %i.fa.fa-angle-left
          %a.right.control-carousel.hidden-xs{"data-slide" => "next", href: "#slider-carousel"}
            %i.fa.fa-angle-right
/ /slider
%section
  .container
    .row
      .col-sm-3
        .left-sidebar
          = render 'products/product_sidebar'
      // FEATURES ITEMS
      .col-sm-9.padding-right
        .features_items
          %h2.title.text-center= t('home.features-items')
          #product-data
            = render partial: 'products/product_data', locals: { products: @products }
- content_for :js_file do
  = javascript_include_tag 'product_filter/filter', 'data-turbolinks-track': 'reload'
