%header
%i
%h1= t('orders.confirmation.title')
%center
  %main
  %p= t('orders.confirmation.details')
  %i.fa-regular.fa-circle-check
  %section.order-details
    %h2="Order ID: #{@order.id} (#{@order.created_at.strftime("%d-%m-%Y (%I:%M %p)")})"
    - @order_details.each do |order_product|
      %table
        %thead
          %tr
            %th= t('orders.confirmation.th-product')
            %th= t('orders.confirmation.th-image')
            %th= t('orders.confirmation.th-quantity')
            %th= t('orders.confirmation.th-price')
        %tbody
          %tr
            %td= order_product.product.name
            %td= image_tag url_for(order_product.product.cover_image), alt: "", size: "120x120"
            %td= order_product.quantity
            %t= "#{t('orders.confirmation.currency')}#{order_product.product.price}"
        %br
        %table
          %h3= t('orders.confirmation.order-summary')
          %br
          %tr
            %td{colspan: "2"}= t('orders.defaults.sub-total') #change :
            %td= "₹#{@order.sub_total}"
          %tr
            %td{colspan: "2"}= t('orders.defaults.tax')
            %td= @shipping_cost = @order.sub_total > 1000 ? "free" : 50
          %tr
            %td{colspan: "2"}= t('orders.defaults.paymemt-method')
            %td= @order.payment_method
          %tr
            %td{colspan: "2"}= t('orders.defaults.total')
            %td= "₹#{@order.total}"
    %section.billing-address
      %h2= t('orders.confirmation.billing-address')
      %address
        = "#{@order.customer.first_name} #{@order.customer.last_name}"
        %br
        ="#{@order.customer.street}, #{@order.customer.landmark},"
        %br
        = "#{@order.customer.city.name}, #{@order.customer.state.name}, #{@order.customer.pincode}"
        %br
        = @order.customer.country.name
      -# = link_to orders_path, class: "btn btn-info" do
      -#   %i.fa.fa-chevron-left
      -#   Back to orders
- content_for :css_file do
  = stylesheet_link_tag 'order/order_confirmation', 'data-turbolinks-track': 'reload'