-@orders.each do |order|
  .container.order-card
    .card.mt-3
      .haeder
        .order-text
          %span.status= Order.statuses[order.status]
          %span.order-id= "#{t('orders.index.order-id')}#{order.id}"
        .card-right 
          - unless order.cancelled?
            = link_to order_path(order), class: "btn btn-success" do
              = t('orders.index.details')
            = link_to cancel_information_order_path(order.id), class: "btn btn-danger" do
              = t('orders.index.cancel')
    .card-body
      .card-price
        %b= "#{t('orders.index.ship-to')}#{order.customer.first_name} #{order.customer.last_name}"
        %b
        %span= "₹#{order.total}"
      %p            
      %b= t('orders.index.address') 
      .card-address
        %span="#{order.customer.street}, #{order.customer.landmark},"
        %span= "#{order.customer.city.name}, #{order.customer.state.name}, #{order.customer.country.name}, #{order.customer.pincode}"
      %p 
      %b Date  Time: 
      = order.created_at.strftime("%d-%m-%Y (%I:%M %p)")

- content_for :css_file do
  = stylesheet_link_tag 'order/order', 'data-turbolinks-track': 'reload'