%section#cart_items
  .container
    .breadcrumbs
      %ol.breadcrumb
        %li
          = link_to root_path do
            = t('carts.index.home')
        %li.active= t('carts.index.title')
    .table-responsive.cart_info
      %table.table.table-condensed
        %thead
          %tr.cart_menu
            %td.image= t('carts.index.td-item')
            %td.description= t('carts.index.td-description')
            %td.price= t('carts.index.td-price')
            %td.quantity= t('carts.index.td-quantity')
            %td.total= t('carts.index.td-total')
            %td.delete
        %tbody
          -@carts.each do |item|
            %tr
              %td.cart_product
                = link_to "" do
                  = image_tag url_for(item.product.cover_image), alt: "", size: "120x100"
              %td.cart_description
                %h6
                  %a(href="")=item.product.name
              %td.cart_price
                %p= t('carts.index.price', price: item.product.price)
              %td.cart_quantity
                .cart_quantity_button
                  %a.cart_quantity_up{"data-cart-id" => "#{item.id}"}+
                  %input.cart_quantity_input{autocomplete: "off", "data-cart-id" => "#{item.id}", name: "quantity", size: "2", type: "text", value: "#{item.quantity.to_i}"}
                  %a.cart_quantity_down{"data-cart-id" => "#{item.id}"} -
              %td.cart_total
                %p.cart_total_price= "₹#{item.product.price * item.quantity.to_i}"
              %td.cart_delete
                = link_to cart_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'cart_quantity_delete' do
                  %i.fa.fa-times
    %section#do_action
      .container
        .row
          .col-sm-6
            .total_area
              %ul
                %li
                  = t('carts.index.cart-sub-total')
                  %span= "₹#{@total_cart_price}"
                %li
                  = t('carts.index.tax')
                  %span= "₹#{@eco_tax}"
                %li
                  = t('carts.index.shipping-cost')
                  %span= @shipping_cost
                %li
                  = t('carts.index.total')
                  %span="₹#{@total_price}"
              %a.btn.btn-default.check_out{href: "orders/check_out"}= t('carts.index.check-out')      
- content_for :js_code do
  :javascript
    $(document).ready(function() {
      $('.cart_quantity_up').click(function() {
        var cartId = $(this).attr("data-cart-id");
        $.ajax({
          url: '/carts/'+ cartId + '.js?type=increase',
          type: 'PUT',
          success: function(response) {
          },
        });
      }); 
      $('.cart_quantity_down').click(function() {
        var cartId = $(this).attr("data-cart-id");
        $.ajax({
          url: '/carts/'+ cartId + '.js?type=decrease',
          type: 'PUT',
          success: function(response) {
          },
        });
      });  
    });