%section#cart_items
  .container
    .breadcrumbs
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active Shopping Cart
    .table-responsive.cart_info
      %table.table.table-condensed
        %thead
          %tr.cart_menu
            %td.image Item
            %td.description Description
            %td.price Price
            %td.quantity Quantity
            %td.total Total
            %td.delete
        %tbody
          -@carts.each do |item|
            %tr
              %td.cart_product
                = link_to "" do
                  = image_tag url_for(item.product.cover_image), alt: "", size: "120x100"
              %td.cart_description
                %h4
                  %a(href="")=item.product.name
              %td.cart_price
                %p= "₹#{item.product.price}"
              %td.cart_quantity
                .cart_quantity_button
                  %a.cart_quantity_up(onclick="updateQuantity(this, 1)")+
                  %input.cart_quantity_input(autocomplete="off" name="quantity" size="2" type="text" value="#{item.quantity}")
                  %a.cart_quantity_up(onclick="updateQuantity(this, -1)")-
              %td.cart_total
                %p.cart_total_price= item.product.price * item.quantity
              %td.cart_delete
                = link_to cart_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'cart_quantity_delete' do
                  %i.fa.fa-times
- content_for :js_file do                  
  :javascript                  
    function updateTotalPrice(element, price) {
      var quantity = parseInt(element.value);
      if (isNaN(quantity)) {
        quantity = 0; 
      }
      var totalPrice = quantity * price;
      var row = element.closest('tr');
      console.log(totalPrice);
      row.querySelector('.cart_total_price').textContent = '₹' + totalPrice.toFixed(2);
    }

    function updateQuantity(element, value) {
      var input = element.parentNode.querySelector('input[type="text"]');
      var quantity = parseInt(input.value);
      if (isNaN(quantity)) {
        quantity = 0;
      }
      console.log(input)
      quantity += value;
      if (quantity < 1) {
        quantity = 1;
      }
      input.value = quantity;
    }
