#p= "order # #{@order.id}"
%header
%h4 Your Eshopper.in order has been cancelled
%center
  %main
  %section.order-details
    - @order_details.each do |order_product|
      %table
        %thead
          %tr
            %th Product
            %th image
            %th Quantity
            %th Price
        %tbody
          %tr
            %td= order_product.product.name
            %td= image_tag url_for(order_product.product.cover_image), alt: "", size: "120x120"
            %td= order_product.quantity
            %td= order_product.product.price
        %br
        %table
          %h3 Order Summary 
          %br
          %tr
            %td{colspan: "2"} Subtotal:
            %td= "₹#{@order.sub_total}"
          %tr
            %td{colspan: "2"} Shipping Cost:
            %td= @shipping_cost = @order.sub_total > 1000 ? "free" : 50
          %tr
            %td{colspan: "2"} Payment method:
            %td= @order.payment_method
          %tr
            %td{colspan: "2"} Total:
            %td= "₹#{@order.total}"
-# - content_for :css_file do
-#   = stylesheet_link_tag 'order/order_confirmation', 'data-turbolinks-track': 'reload'