%p= "#{t('devise.mailer.email_changed.hello')} #{@email}!"
- if @resource.try(:unconfirmed_email?)
  %p
    ="#{t('devise.mailer.email_changed.detail1')}#{@resource.unconfirmed_email}"
- else
  %p
   ="#{t('devise.mailer.email_changed.detail2')}#{@resource.email}"