%p="#{t('devise.mailer.reset_password_instructions.hello')} #{@resource.email}!"
%p= t('devise.mailer.reset_password_instructions.info')
%p= link_to t('devise.mailer.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mailer.reset_password_instructions.info2') 
%p= t('devise.mailer.reset_password_instructions.info3') 