%p= "#{t('devise.mailer.unlock_instructions.hello')} #{@resource.email}!"
%p= t('devise.mailer.unlock_instructions.info')
%p= t('devise.mailer.unlock_instructions.info2') 
%p= link_to t('devise.mailer.unlock_instructions.link'), unlock_url(@resource, unlock_token: @token)