- products.each do |product|
  .col-sm-4
    .product-image-wrapper
      .single-products
        .productinfo.text-center
          = image_tag url_for(product.cover_image), size: "250x300"
          %h2 ₹#{product.price}
          %p #{product.name}
          %button.btn.btn-default.add-to-cart{"data-product-id" => "#{product.id}", "data-remote" => "true", type: "button"}
            %i.fa.fa-shopping-cart
            Add to cart
        .product-overlay
          .overlay-content
            %h2 ₹#{product.price}
            %p #{product.name}
            %button.btn.btn-default.add-to-cart{"data-product-id" => "#{product.id}", "data-remote" => "true", type: "button"}
              %i.fa.fa-shopping-cart
              Add to cart
      .choose
        %ul.nav.nav-pills.nav-justified
          %li
            = link_to product_path(product), class: "add-to-wishlist" do
              = content_tag :i, "", class: "fa fa-eye"
              show details
          %li
            = link_to checkout_path(product_id: product.id), class: "add-to-cart" do
              = content_tag :i, "", class: "fa fa-plus-square"
              Buy

- content_for :js_code do
  :javascript
    $(document).ready(function() {
      $('.add-to-cart').click(function() {
        var productId = $(this).attr("data-product-id");
        $.ajax({
          url: 'carts.js',
          type: 'POST',
          data: { product_id: productId },
          success: function(response) {
          },
        });
      }); 
    });