%section#advertisement
  .container
    = image_tag "shop/advertisement.jpg", alt: ""
%section
  .container
    .row
      .col-sm-3
        .left-sidebar
          = render 'product_sidebar' 
      .col-sm-9.padding-right
        .features_items
          %h2.title.text-center= t('product.index.features-items')
          #product-data
            = render partial: 'product_data', locals: { products: @products }
- content_for :js_file do
  = javascript_include_tag 'product_filter/filter', 'data-turbolinks-track': 'reload'
