= stylesheet_link_tag "edit_profile"
.container.rounded.bg-white.mt-5.mb-5
  .row
    .col-md-3.border-dark
      .d-flex.flex-column.align-items-center.text-center.p-3.py-5
        %img.rounded-circle.mt-5{src: "https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg", width: "150px"}
        %br
        %span.font-weight-bold
        %b 
          = @customer.first_name
        %br
        %span.text-black-50
        %b
          = @customer.email
        %span
    .col-md-5.border-dark.fw-bold
      .p-3.py-5
        .d-flex.justify-content-between.align-items-center.mb-3
          %h2.text-center Profile Update
          %br
          %br
        = form_with model: @customer do |form|
          .row.mt-3
            .col-md-4
              = form.label :first_name, class: 'labels'
              = form.text_field :first_name, class: 'form-control', placeholder: 'First name'
              - @customer.errors.full_messages_for(:first_name).each do |message|
                .text-danger= message
            .col-md-4
              = form.label :middle_name, class: 'labels'
              = form.text_field :middle_name, class: 'form-control', placeholder: 'Middle name'
              - @customer.errors.full_messages_for(:middle_name).each do |message|
                .text-danger= message
            .col-md-4
              = form.label :last_name, class: 'labels'
              = form.text_field :last_name, class: 'form-control', placeholder: 'last name'
              - @customer.errors.full_messages_for(:last_name).each do |message|
                .text-danger= message
          .row.mt-3
            .col-md-12
              = form.label :email, class: 'labels'
              = form.text_field :email, class: 'form-control', placeholder: 'Email'
              - @customer.errors.full_messages_for(:email).each do |message|
                .text-danger= message
            .col-md-12
              = form.label :mobile, class: 'labels'
              = form.text_field :mobile, class: 'form-control', placeholder: 'Mobile'
              - @customer.errors.full_messages_for(:mobile).each do |message|
                .text-danger= message
            .col-md-12
              = form.label :street, class: 'labels'
              = form.text_field :street, class: 'form-control', placeholder: 'Street'
              - @customer.errors.full_messages_for(:street).each do |message|
                .text-danger= message
            .col-md-12
              = form.label :landmark, class: 'labels'
              = form.text_field :landmark, class: 'form-control', placeholder: 'Landmark'
              - @customer.errors.full_messages_for(:landmark).each do |message|
                .text-danger= message
            .col-md-12
              = form.label :pincode, class: 'labels'
              = form.text_field :pincode, class: 'form-control', placeholder: 'Pincode'
              - @customer.errors.full_messages_for(:pincode).each do |message|
                .text-danger= message
          .row.mt-3
            .col-md-6
              = form.label :city_id, class: 'labels'
              = form.select :city_id, options_for_select(city, @city&.name), { prompt: '- Select City -' }, class: 'form-control'
              - @customer.errors.full_messages_for(:city_id).each do |message|
                .text-danger= message
            .col-md-6
              = form.label :state_id, class: 'labels'
              = form.select :state_id, options_for_select(state, @state&.name), { prompt: '- Select State -' }, class: 'form-control'
              - @customer.errors.full_messages_for(:state_id).each do |message|
                .text-danger= message
            .col-md-6
              = form.label :country_id, class: 'labels'
              = form.select :country_id, options_for_select(country_name, @country&.name), { prompt: '- Select Country -' }, class: 'form-control'
              - @customer.errors.full_messages_for(:country_id).each do |message|
                .text-danger= message
          .mt-5.text-center
            = form.submit 'Save Profile', class: 'btn btn-primary profile-button'