%footer#footer
  / Footer
  .footer-top
    .container
      .row
        .col-sm-2
          .companyinfo
            %h2
              %span> e
              \-shopper
            %p= t('layout.footer.info-eshopper')
        .col-sm-7
          .col-sm-3
            .video-gallery.text-center
              %a{href: "#"}
                .iframe-img
                  = image_tag "home/iframe1.png"
                .overlay-icon
                  %i.fa.fa-play-circle-o
              %p Circle of Hands
              %h2 24 DEC 2014
          .col-sm-3
            .video-gallery.text-center
              %a{href: "#"}
                .iframe-img
                  = image_tag "home/iframe2.png"
                .overlay-icon
                  %i.fa.fa-play-circle-o
              %p Circle of Hands
              %h2 24 DEC 2014
          .col-sm-3
            .video-gallery.text-center
              %a{href: "#"}
                .iframe-img
                  = image_tag "home/iframe3.png"
                .overlay-icon
                  %i.fa.fa-play-circle-o
              %p Circle of Hands
              %h2 24 DEC 2014
          .col-sm-3
            .video-gallery.text-center
              %a{href: "#"}
                .iframe-img
                  = image_tag "home/iframe4.png"
                .overlay-icon
                  %i.fa.fa-play-circle-o
              %p Circle of Hands
              %h2 24 DEC 2014
        .col-sm-3
          .address
            = image_tag "home/map.png"
            %p= session[:business_address]
  .footer-widget
    .container
      .row
        .col-sm-2
          .single-widget
            %h2= t('layout.footer.service')
            %ul.nav.nav-pills.nav-stacked
              %li
                %a{href: "#"}= t('layout.footer.online-help')
              %li
                %a{href: "#"}= t('layout.footer.contact-us')
              %li
                %a{href: "#"}= t('layout.footer.order-status')
              %li
                %a{href: "#"}= t('layout.footer.change-location') 
              %li
                %a{href: "#"}= t('layout.footer.faq')
        .col-sm-2
          .single-widget
            %h2 Quock Shop
            %ul.nav.nav-pills.nav-stacked
              %li
                %a{href: "#"}= t('layout.footer.t-shirt') 
              %li
                %a{href: "#"}= t('layout.footer.mens')
              %li
                %a{href: "#"}= t('layout.footer.womens')
              %li
                %a{href: "#"}= t('layout.footer.gift-cards') 
              %li
                %a{href: "#"}= t('layout.footer.shoes') 
        .col-sm-2
          .single-widget
            %h2 Policies
            %ul.nav.nav-pills.nav-stacked
              %li
                %a{href: "#"}= t('layout.footer.terms-of-use')
              %li
                %a{href: "#"}= t('layout.footer.privecy-policy')
              %li
                %a{href: "#"}= t('layout.footer.refund-policy') 
              %li
                %a{href: "#"}= t('layout.footer.billing-system')
              %li
                %a{href: "#"}= t('layout.footer.ticket-system') 
        .col-sm-2
          .single-widget
            %h2 About Shopper
            %ul.nav.nav-pills.nav-stacked
              %li
                %a{href: "#"}= t('layout.footer.company-information') 
              %li
                %a{href: "#"}= t('layout.footer.careers')
              %li
                %a{href: "#"}= t('layout.footer.store-location')
              %li
                %a{href: "#"}= t('layout.footer.affillate-program')
              %li
                %a{href: "#"}= t('layout.footer.copyright')
        .col-sm-3.col-sm-offset-1
          .single-widget
            %h2 About Shopper
            %form.searchform{action: "#"}
              -# %input{placeholder:= t('layout.footer.placeholder'), type: "text"}
              %button.btn.btn-default{type: "submit"}
                %i.fa.fa-arrow-circle-o-right
              %p= t('layout.footer.recent-update')
  .footer-bottom
    .container
      .row
        %p.pull-left
          Copyright © 2013 E-SHOPPER Inc. All rights reserved.
        %p.pull-right
          = t('layout.footer.designed-by')
          %span
            %a{href: "http://www.themeum.com", target: "_blank"} Themeum
/ /Footer