%header#header
  / header
  .header_top
    / header_top
    .container
      .row
        .col-sm-6
          .contactinfo
            %ul.nav.nav-pills
              %li
                %a{href: "#"}
                  %i.fa.fa-phone
                  +2 95 01 88 821
              %li
                %a{href: "#"}
                  %i.fa.fa-envelope
                  info@domain.com
        .col-sm-6
          .social-icons.pull-right
            %ul.nav.navbar-nav
              %li
                %a{href: "#"}
                  %i.fa.fa-facebook
              %li
                %a{href: "#"}
                  %i.fa.fa-twitter
              %li
                %a{href: "#"}
                  %i.fa.fa-linkedin
              %li
                %a{href: "#"}
                  %i.fa.fa-dribbble
              %li
                %a{href: "#"}
                  %i.fa.fa-google-pluscustomer
  .header-dome  
    .container
      .row
        .col-sm-4
          .logo.pull-left
            %a{href: "index.html"}
              = image_tag "home/logo"
          .btn-group.pull-right
            .btn-group
              %select#language_select
                %option{value: "en"} English
                %option{value: "gu"} Gujarati
                %option{value: "nr"} Norway
            .btn-group
              %button.btn.btn-default.dropdown-toggle.usa{"data-toggle" => "dropdown", type: "button"}
                DOLLAR
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Canadian Dollar
                %li
                  %a{href: "#"} Pound
        .col-sm-8
          .shop-menu.pull-right
            %ul.nav.navbar-nav
              %li
                - if current_customer
                  = link_to customer_path(id: current_customer.id), class: ('active' if current_page?(current_customer)) do
                    %i.fa.fa-user
                    = t('layout.header.account')
              %li
                - if current_customer
                  = link_to carts_path(id: current_customer.id), class: ('active' if current_page?(carts_path)) do
                    %i.fa.fa-shopping-cart
                    = t('layout.header.cart')
                    - if current_customer.carts.present? 
                      %span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger= current_customer.redis_cache.dig('cart_counts')
              %li
                - if current_customer
                  = link_to orders_path(id: current_customer.id), class: ('active' if current_page?(orders_path)) do
                    %i.fa.fa-crosshairs
                    = t('layout.header.order')
              %li
                - if current_customer.present?
                  %a{href: destroy_customer_session_path, 'data-method': 'delete'}
                    %i.fa.fa-power-off
                    = t('layout.header.logout')
                - else
                  = link_to new_customer_session_path do
                    %i.fa.fa-lock
                    = t('layout.header.login')
  / /header-middle
  .header-bottom
    / header-bottom
    .container
      .row
        .col-sm-9
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .mainmenu.pull-left
            %ul.nav.navbar-nav.collapse.navbar-collapse
              %li
                = link_to root_path, class: ('active' if current_page?(root_path)) do
                  = t('layout.header.home')
              %li
                = link_to products_path, class: ('active' if current_page?(products_path)) do
                  = t('layout.header.product')
              %li
                %a{href: "contact-us.html"}
                  = t('layout.header.contact')
        .col-sm-3
          #search-product.search_box.pull-right
            = text_field_tag :name, params[:name], placeholder: "Search", type: "text", id: "search-input"
-# - content_for :js_code do
-#   :javascript
-#     $(document).on("change", "#search-input", function() {
-#       var searchProduct = $(this).val();
-#       .log("hello");

-#       $.aconsolejax({
-#         type: 'GET',
-#         url: "/products.js",
-#         data: { name: searchProduct },
-#         success: function(response) {
-#         }
-#       });
-#     });
- content_for :js_code do
  :javascript
    $(document).on("change", "#language_select", function() {
      var language = $(this).val();
      console.log(language);

      $.ajax({
        url: '/update_language',
        method: 'PUT',
        data: { language: language },
        success: function(response) {
          console.log('Language updated successfully');
        },
        error: function() {
          console.log('Error updating language');
        }
      });

      return false;
    });

